<!DOCTYPE html>
<html lang="fr">

<head>
    <!-- Meta données -->
    <meta charset="UTF-8">
    <title>Login | UTBM</title>
    <link rel="icon" href="{{ asset('images/moodle.png') }}" class="moodle">
    <link rel="stylesheet" href="{{ asset('Styles/login.css') }}">
    <link rel="stylesheet" href="{{ asset('Styles/style.css') }}">

</head>

<body>
<!-- Corps de la page -->
<main>
    <div class="login">

        <form method="post" action="{{ path('login') }}" id="loginForm" onsubmit="return CheckLoginForm()">

            <script>
                //Fonction pour vérifier le formulaire
                function CheckLoginForm() {
                    var nom = document.getElementById("name").value;
                    var pass = document.getElementById("password").value;

                    if (nom.length === 0) {
                        alert("Le champ du addresse mail ne doit pas être vide!")
                        return false;
                    } else if (pass.length === 0) {
                        alert("Le champ du mot de passe ne doit pas être vide!")
                        return false;
                    } else {
                        return true;
                    }
                }

                function TogglePass(icone) {
                    var field = document.getElementById("password");
                    if (field.type === "password") {
                        icone.name = "eye-outline";
                        field.type = "text";
                    } else {
                        icone.name = "eye-off-outline";
                        field.type = "password";
                    }
                }
            </script>

            <h1>Connexion</h1>

            <img src="{{ asset('images/logo_utbm.png') }}" alt="logo utbm" class="logo-utbm">

            {# Affichage d'une erreur de login, si présente #}
            {% if error %}
                <div class="alert-error">
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                </div>
            {% endif %}

            <div class="formulaire">
                <div class="section">
                    <label for="email">Email :</label>
                    <input id="email" type="text" name="email" spellcheck="false" placeholder="prenom.nom@utbm.fr"
                           value="{{ last_username }}" title="Please enter your email" required="required"/>
                </div>

                <div class="section">
                    <label for="password">Mot de passe :</label>
                    <div class="input-container">
                        <input type="password" id="password" name="password" placeholder="Mot de passe" required>
                        <ion-icon name="eye-off-outline" onclick="TogglePass(this)"></ion-icon>
                    </div>
                </div>

                <input type="submit" value="Connexion" id="connexion"/>
            </div>
        </form>

        <a href="#" id="mdp">Mot de passe perdu ?</a>
    </div>
</main>

<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

</body>

</html>

