{%  extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block stylesheets %} <!-- Bloc pour les CSS spécifiques à chaque page -->
    <link rel="stylesheet" href="{{ asset('Styles/login.css') }}">
{% endblock %}

{% block body %}
<main>
    <div class="login">

        <form action="{{ path('login') }}" method="post" id="loginForm" onsubmit="return CheckLoginForm()">

            <script>
                function CheckLoginForm() {
                    const nom = document.getElementById("email").value;
                    const pass = document.getElementById("password").value;

                    if (nom.length === 0) {
                        alert("Le champ de l'adresse mail ne doit pas être vide !");
                        return false;
                    } else if (pass.length === 0) {
                        alert("Le champ du mot de passe ne doit pas être vide !");
                        return false;
                    }
                    return true;
                }

                function TogglePass(icone) {
                    const field = document.getElementById("password");
                    if (field.type === "password") {
                        icone.name = "eye-outline";
                        field.type = "text";
                    } else {
                        icone.name = "eye-off-outline";
                        field.type = "password";
                    }
                }
            </script>

            <h1>Connexion</h1>

            <img src="{{ asset('images/logo_utbm.png') }}" alt="logo utbm" class="logo-utbm">

            {# Affichage d'une erreur de login, si présente #}
            {% if error %}
                <div class="alert-error">
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                </div>
            {% endif %}

            <div class="formulaire">
                <div class="section">
                    <input id="email" type="text" name="email" spellcheck="false" placeholder="prenom.nom@utbm.fr"
                           value="{{ last_username }}" title="Please enter your email" required="required"/>
                </div>

                <div class="section">
                    <label for="password">Mot de passe :</label>
                    <div class="input-container">
                        <input type="password" id="password" name="password" placeholder="Mot de passe" required>
                        <ion-icon name="eye-off-outline" onclick="TogglePass(this)"></ion-icon>
                    </div>
                </div>
            </div>
            <input type="submit" value="Connexion" id="connexion">

        </form>

        <a href="#" id="mdp">Mot de passe perdu ?</a>
    </div>
</main>
{% endblock %}


